body {
    font-family: Arial, sans-serif;
    background-color: rgb(83, 6, 6);
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

#game-container {
    width: 60%;
    margin: auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
}

#story-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

button {
    background-color: rgba(194, 8, 8, 0.411);
    color: white;
    padding: 10px;
    margin: 5px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: darkred;
}